body{
	margin: 0;
	background-image: radial-gradient(circle at 14.64% -11.24%, #00ffff 0, #39daff 25%, #48b5e5 50%, #4b91b7 75%, #46728e 100%);
	background-color: rgba(0,0,0, 0.2);
	background-blend-mode: overlay;
}
main{
	margin-top: 80px;
}

header{
	background-color: #46728e;
	position: fixed;
    width: 100%;
    top: 0;
    border-bottom:2px solid darkgreen ;
}
footer{
	background-color: #46728e;
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 10px;
	border-top:2px solid darkgreen ;
}

.conteiner{
	display: flex;
	justify-content: inline;
	justify-content: space-between;
	padding: 10px 150px;
}
p{
	font-size: 20px;
	justify-content: center;
	text-align: justify;
	text-indent: 50px;
}

hr{
	margin: 0px 150px;
	border: 1px solid darkgreen ;
}
.pcp{
	width: 500px;
	height: 340px;
	border-radius: 19px;
	box-shadow:  -5px 5px 10px black;
}

.faq{
	margin: 0px 150px;

}



/* fontes */
h2{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

h3{
	text-align: center;
	font-size: 23px;
	font-weight: bold;
}
h4{
	text-align: center;
	font-weight: bold;
}




/*menu nav*/

.menu ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: right;
	background-color: #46728e;
	margin-bottom: 0px	;

}

.menu li{
	margin: 0px 10px;
}
.menu li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: black;
}

.menu li a:hover{
	border-radius: 5px;
	background-color: whitesmoke;
}





/* CARROSSEL DE IMAGENS */
.conteiner2{				/*configurações de flex box das paginas que contem carrossel de imagens */
	display:flex;
	flex-direction: row;
	margin: 0em 10em;
}

.carrossel {
    background-color: black; /*fundo entre as imagens*/
    overflow: hidden;        /* esconder as imagens seguintes dentro do carrossel*/
    box-shadow:  -5px 5px 10px black;
    border-radius: 19px;
	flex-grow:1;  
}

.fotos{
	width: 700px;
    height: 350px;
	display: inline-flex;                   /* condição para as imagens irem da direita pra esquerda */
    width: 500%;                            /* cada 100% equivale a uma imagem do carrosel */
    animation-name: animacao;
    animation-duration: 10s;                /* tempo de exibição de todas imagens da primeira até a ultima */
    animation-iteration-count: infinite;    /*feita pra durar enquanto estiver na Pg */
}

.carrossel .fotos img {
    width: 20%;     /* % que cada imagem ocupa dentro do fotos ( se for 4 imagens cada uma ocupa 25%, se for 5 20%)*/
}

@keyframes animacao {             /* animação propriamente dita, primeira % é o tempo da animação para ela realizar a ação */
    0% { margin-left: 0; }
    20% { margin-left: 0; }		  /* segunda % é o tamanho da tela da imagem q vai der deslocada, por ex 3 imagens 300%, 1 imagem 100%*/
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: -400%; }
}






/*Formulario*/
.form{
	margin: 10px 250px;
	background-color: #DCDCDC;
}

